@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-1: 330 100% 40%;
    --color-2: 140 100% 55%;
    --color-3: 210 100% 30%;
    --color-4: 60 100% 70%;
    --color-5: 295 100% 45%;
    --brand: 50 100% 50%;
  }
}

body {
  background-color: #000000;
  color: #ffffff;
  font-weight: 300;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::selection {
  background-color: #E8572A;
  color: #ffffff;
}
